<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>The Music Shop</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>{{view}}</h1>

    <div class="data-table">
        <table border="1" cellpadding="5">
            <tr>
                <th><a href="/">Index</a></th>
                <th><a href="/customers">Customers</a></th>
                <th><a href="/purchases">Purchases</a></th>
                <th><a href="/purchase_items">Purchase_Items</a></th>
                <th><a href="/items">Items</a></th>
                <th><a href="/devices">Devices</a></th>
                <th><a href="/songs">Songs</a></th>
                <th><a href="/albums">Albums</a></th>
                <th><a href="/artists">Artists</a></th>
                <th><a href="/labels">Labels</a></th>
            </tr>
        </table>
    </div>

    <h1>{{table}}</h1>
    {{{body}}}
</body>
</html>