
<h3>Insert</h3>
<form method="POST" action="insert">
    <input type="hidden" name="table" value="{{table}}"></input>
    <label>Name</label> <input name="name">
    <label>Price</label> <input name="price">
    <label>Stock</label> <input name="stock">
    {{>buttons}}
</form>

{{>delete}}
{{>table}}
